@model LiteCommerce.Admin.Models.OrderPaginationResult
@{
    ViewBag.Title = "Orders";
    int i = 0;
}
<div class="box box-primary">
    <div class="box-body">
        <form action="~/Order" method="get">
            <div class="row">
                <div class="col-sm-4">
                    <select name="customerID" class="form-control">
                        <option value="">-- Choose Customer --</option>
                        @{
                            foreach (var customer in SelectListHelper.Customers())
                            {
                                if (Model.CustomerID == customer.Value)
                                {
                                    <option selected value="@customer.Value">@customer.Text</option>
                                }
                                else
                                {
                                    <option value="@customer.Value">@customer.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-4">
                    <select name="employeeID" class="form-control">
                        <option value="0">-- Choose Employee --</option>
                        @{
                            foreach (var employee in SelectListHelper.Employees())
                            {
                                if (Model.EmployeeID == Convert.ToInt32(employee.Value))
                                {
                                    <option selected value="@employee.Value">@employee.Text</option>
                                }
                                else
                                {
                                    <option value="@employee.Value">@employee.Text</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        <select name="shipperID" class="form-control">
                            <option value="0">-- Choose Shipper --</option>
                            @{
                                foreach (var shipper in SelectListHelper.Shippers())
                                {
                                    if (Model.ShipperID == Convert.ToInt32(shipper.Value))
                                    {
                                        <option selected value="@shipper.Value">@shipper.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@shipper.Value">@shipper.Text</option>
                                    }
                                }
                            }
                        </select>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
<form action="~/Order/Delete" method="post">
    <div class="container-fluid row" style="margin-bottom:10px;">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> Orders. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Order/Create" class="btn btn-sm btn-primary">Add Order</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete Orders</button>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox" onchange="selectAll(event)" />
                        </th>
                        <th style="width:50px">#</th>
                        <th style="width:200px">Customer</th>
                        <th style="width:200px">Employee</th>
                        <th style="width:200px">Date</th>
                        <th style="width:200px">Shipper</th>
                        <th style="width:auto">Ship To</th>
                        <th style="width:50px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Data)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="orderIDs" value="@order.OrderID" />
                            </td>
                            <td>@(++i + (Model.Page - 1) * Model.PageSize)</td>
                            <td>
                                <span>
                                    @order.CustomerCompanyName
                                </span>
                            </td>
                            <td>
                                <span>@order.EmployeeName</span>
                            </td>
                            <td>
                                <span style="display: block"> Order date: @order.OrderDate.ToShortDateString()</span>
                                <span style="display: block">Required date: @order.RequiredDate.ToShortDateString()</span>
                                <span style="display: block">Shipped date: @order.ShippedDate.ToShortDateString()</span>
                            </td>
                            <td>
                                <span>@order.ShipperCompanyName</span>
                            </td>
                            <td>
                                <span>@string.Format("{0}, {1}, {2}", order.ShipAddress, order.ShipCity, order.ShipCountry)</span>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/Order/Create/@order.OrderID/">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="box-footer clearfix text-center">
    <ul class="pagination pagination-sm no-margin pull-right">
        @{
            int currentPage = Model.Page;
            // Pagination head
            if (currentPage - 5 > 0)
            {
                int prePage = currentPage - 1;
                <li><a href="~/Order?page=1&customerID=@Model.CustomerID&employeeID=@Model.EmployeeID&shipperID=@Model.ShipperID">‹‹</a></li>
                <li><a href="~/Order?page=@prePage&customerID=@Model.CustomerID&employeeID=@Model.EmployeeID&shipperID=@Model.ShipperID">‹</a></li>
                <li><a href="#">...</a></li>
            }
            int startPage = currentPage - 4 > 0 ? currentPage - 4 : 1;
            for (int page = startPage; page <= currentPage; page++)
            {
                if (page == currentPage)
                {
                    <li class="active"><a href="~/Order?page=@page&customerID=@Model.CustomerID&employeeID=@Model.EmployeeID&shipperID=@Model.ShipperID">@page</a></li>
                }
                else
                {
                    <li><a href="~/Order?page=@page&customerID=@Model.CustomerID&employeeID=@Model.EmployeeID&shipperID=@Model.ShipperID">@page</a></li>
                }
            }

            // Pagination tail
            int endPage = currentPage + 4 < Model.PageCount ? currentPage + 4 : Model.PageCount;
            for (int page = currentPage + 1; page <= endPage; page++)
            {
                if (page == currentPage)
                {
                    <li class="active"><a href="~/Order?page=@page&customerID=@Model.CustomerID&employeeID=@Model.EmployeeID&shipperID=@Model.ShipperID">@page</a></li>
                }
                else
                {
                    <li><a href="~/Order?page=@page&customerID=@Model.CustomerID&employeeID=@Model.EmployeeID&shipperID=@Model.ShipperID">@page</a></li>
                }
            }
            if (currentPage + 4 < Model.PageCount)
            {
                int nextPage = currentPage + 1;
                <li><a href="#">...</a></li>
                <li><a href="~/Order?page=@nextPage&customerID=@Model.CustomerID&employeeID=@Model.EmployeeID&shipperID=@Model.ShipperID">›</a></li>
                <li><a href="~/Order?page=@Model.PageCount&customerID=@Model.CustomerID&employeeID=@Model.EmployeeID&shipperID=@Model.ShipperID">››</a></li>
            }
        }
    </ul>
</div>
